/* PAGINA CONTATO */

.contato-header{
    min-height:40vh;
}

.contato{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
    padding:80px 10%;
}

.info-contato,
.formulario{
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,255,255,.2);
    width:450px;
}

.info-contato h2,
.formulario h2{
    color:cyan;
    margin-bottom:20px;
}

.info-contato p{
    margin:20px 0;
    font-size:1.1rem;
}
/* FORMULARIO MELHORADO */

.formulario{
    background:linear-gradient(145deg,#1e293b,#0f172a);
    padding:50px;
    border-radius:25px;
    width:500px;
    box-shadow:0 0 30px rgba(0,255,255,.15);
    transition:.4s;
}

.formulario:hover{
    transform:translateY(-5px);
    box-shadow:0 0 40px rgba(0,255,255,.3);
}

.formulario h2{
    text-align:center;
    color:cyan;
    font-size:2rem;
    margin-bottom:10px;
}

.formulario p{
    text-align:center;
    color:#94a3b8;
    margin-bottom:30px;
}

.input-box{
    display:flex;
    align-items:center;
    background:#334155;
    border-radius:15px;
    margin:20px 0;
    padding:5px 15px;
    transition:.3s;
    border:2px solid transparent;
}

.input-box:hover{
    border-color:cyan;
}

.input-box span{
    font-size:1.3rem;
    margin-right:10px;
}

.input-box input,
.input-box textarea{
    width:100%;
    background:none;
    border:none;
    outline:none;
    color:white;
    padding:15px;
    font-size:1rem;
    resize:none;
}

.input-box input::placeholder,
.input-box textarea::placeholder{
    color:#94a3b8;
}

.formulario button{
    width:100%;
    padding:18px;
    border:none;
    border-radius:40px;
    background:linear-gradient(90deg,cyan,#38bdf8);
    color:black;
    font-size:1.1rem;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    margin-top:20px;
}

.formulario button:hover{
    transform:scale(1.03);
    box-shadow:0 0 25px cyan;
}